/* Основные переменные цвета */
:root {
    --bitrix-primary: #2fc6f6;
    --bitrix-secondary: #aed1e6;
    --bitrix-border: #d5d9db;
    --bitrix-text: #525c69;
    --bitrix-dark: #193140;
}

body {
    background-color: var(--bitrix-secondary);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: var(--bitrix-text);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Обёртка виджета погоды */
.weather-widget {
    width: 92%;
    max-width: 900px;
    margin: auto;
    background: #fff;    
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: block;
}

hr {
    background-color: #cbd5e0; 
    height: 0.5px;  
    border: none;
}

.city-header-data {
    text-align: left;
}

.city-header-data p {
    margin-top: 0;
    margin-bottom: 10px;
}

#city-name {
    font-weight: 600;
    font-size: 19px;
    color: #193140;
}

.city-block{
    display: flex;
    width: auto;
}

.city-block img{
    width: 20px;
    height: 20px;
}

.city-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 40px;
    color: #193140;
    text-align: center;
}

/* Контейнер для ввода города */
.city-input-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 10px;
}

.city-input-container input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.city-input-container input:hover {
    border-color: #999;
}

.city-input-container input:focus {
    border-color: #597994; 
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.city-input-container button {
    padding: 10px 20px;
    border: none;
    background-color: #527C8C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.city-input-container button:hover {
    background-color: #396070;
}

.city-input-container button:active {
    background-color: #294651;
    transition: none;
}

.city-input-container button:not(:active):hover {
    background-color: #396070;
}

.city-input-container button:not(:hover):not(:active) {
    background-color: #527C8C;
}

.weather-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* Блоки погоды */
.weather-block {
    background-color: #f1faff;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.weather-block h2 {
    color: #193140;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
}

/* Текущая температура */
.current-temp {
    font-size: 2.5em;
    color: #527C8C;
    margin-bottom: 10px;
}

.weather-icon img {
    max-width: 40px;
    padding: 10px;
    height: auto;
    display: block;
}

.weather-details p {
    color: #777;
    margin: 5px 0;
    text-align: left;
}

/* Блок прогноза по часам */
.hourly-forecast {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    width: fit-content;
}

.hourly-forecast img {
    max-width: 40px;
    padding: 10px;
    height: auto;
}

.hourly-forecast-item {
    flex: 0 0 auto;
    width: fit-content;
    text-align: center;
    margin: 0 5px;
    white-space: nowrap;
}

/* Блок 5-дневного прогноза */
#five-day-forecast {
    overflow-x: auto;
}

.five-day-container {
    display: flex;
    width: 100%; 
    padding-top: 10px;
    justify-content: space-between;
}

.five-day-item {
    flex: 1 1 18%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}
.five-day-item h4{
    margin-top: 10px;
    margin-bottom: 10px
}
.five-day-item p {
    margin: 5px 0;
    color: #555;
    width: 120px;
    text-align: left;
}

.five-day-item img {
    width: 40px;
    height: auto;
    padding: 10px;
}

@media (max-width: 600px) {
    .five-day-item {
        flex: 1 1 30%; 
    }
}

/* Сообщение бота */
.bot-message {
    display: flex;
    align-items: flex-start;
    background-color: #B2CED9;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    border-top: 1px solid #eee;
}

.bot-icon {
    flex-shrink: 0;
    margin-right: 10px;    
}

.bot-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.bot-text {
    background-color: #ffffff; 
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
    padding: 16px 20px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    max-width: auto;
    word-wrap: break-word;
    font-style: oblique;
    color: #527C8C;
}

/* Стиль для заглушек */
.past-forecast {
    opacity: 1;
    color: #98a2ac;
    border-radius: 5px;
}

.past-forecast img {
    filter: grayscale(100%);
}

.past-forecast img[alt="Нет данных"] {
    width: 40px;
    height: 40px;
    opacity: 0.5;
}